name: ultra_qr_scanner
description: "Ultra-fast, low-latency QR code scanner plugin for Flutter with native performance optimization."
version: 1.0.0
homepage: https://github.com/shariar99/ultra_qr_scanner
repository: https://github.com/shariar99/ultra_qr_scanner

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  mockito: ^5.4.2

flutter:
  uses-material-design: true
  plugin:
    platforms:
      android:
        package: com.shariar99.ultra_qr_scanner
        pluginClass: UltraQrScannerPlugin
      ios:
        pluginClass: UltraQrScannerPlugin
